@media screen and (max-width: 400px) {
    .wrapper {
        max-width: 400px;
        margin: 0 0 0 7px;
        padding: 0;
    }

    .nav_top {
        display: none;
    }

    .nav_top_mobile {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        padding: 0;
        margin: 0;
    }

    .nav_top_mobile > .nav-item {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .nav_top_mobile > .navbar > .navbar-nav {
        max-width: 400px;
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: row;
    }

    .dropdown-toggle, .time_work, .adr_place {
        display: none;
    }

    .nav_header > .navbar > .navbar-collapse {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: auto;
    }

    .navbar-nav > .whats, .telephone {
        flex-direction: column;
    }

    .nav_header_text {
        font-size: 14px;
        line-height: 13px;
        justify-content: space-between;
    }


    .contact_centre {
        flex-direction: column;
    }

    .button_nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .form-control {
        width: 180px;
    }

    .telephone {
        order: 1;
    }

    .whats {
        order: 2;
    }

    .whatsapps {
        display: none;
    }

    .number_phone {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
    }

    .whatsapps_mobile {
        display: flex;
        text-align: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        background: #E1EFD0;
        border-color: #E1EFD0;
    }

    .private_office {
        display: none;
    }

    .catalog_text {
        display: none;
    }

    .header_top {
        flex-direction: column;
    }

    .header_top, .carousel-inner, .header_top_left {
        width: 290px;
        height: 100%;
    }

    .carousel-inner {
        width: auto;
        height: auto;
    }

    .header_top_right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 5px;
        flex-direction: row;
    }

    .header_top_text {
        margin: 0;
        padding: 0;
        width: 240px;
        height: 110px;
    }

    .header_top_text > p, h6 {
        font-size: 16px;
        line-height: 18px;
    }

    .price_button {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #FFB800;
    }

    .price_button > p {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #FFB800;
    }

    .header_bottom {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .header_bottom_block {
        justify-content: center;
        width: 100%;
    }

    .button_content {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 100%;
    }

    .button_content > .btn-primary, .btn-outline-primary_2 {
        width: 164px;
        height: 65px;
    }

    .button_content > .btn-outline-primary_1 {
        width: 82px;
        height: 65px;
    }

    .product_cart_inner {
        width: 100%;
        padding: 0;
    }

    .product_cart_item {
        flex-wrap: wrap;
        width: 40%;
        margin-right: 5px;
    }

    .product_cart_item > img {
        width: 100%;
        margin-right: 5px;
    }

    .news_box__item > img {
        display: none;
    }

    .news_box__line {
        display: none;
    }

    .data_figure > img {
        display: none;
    }

    .news_box__items {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }

    .news_data {
        margin-top: 20px;
    }

    .news_box__data {
        font-weight: normal;
    }

    .news_box__data > .btn {
        font-weight: normal;
        align-items: start;
    }

    .news_box__item {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }

    .footer, .footer_left, .footer_right__top {
        flex-direction: column;
    }

    .footer_right__bottom > .input-group {
        margin: 10px;
    }

    .footer_icon {
        margin-bottom: 25px;
        justify-content: flex-start;
        align-items: flex-start;
    }
}