@media screen and (max-width: 400px) {
    .wrapper {
        max-width: 400px;
        margin: 0 0 0 7px;
        padding: 0;
    }

    .place {
        display: block;
        padding: 0;
        margin: 0;
    }

    .dropdown-toggle, .time_work, .adr_place {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .logotype {
        width: 45%;
    }
.contact_centre {
    flex-direction: column;
}

    .button_nav {
        width: 100%;
        justify-content: space-between;
    }

    .telephone {
        order: 1;
    }

    .whats {
        order: 2;
    }

    .private_office {
        display: none;
    }

    .catalog_text {
        display: none;
    }

    .button_nav {
        display: flex;
        flex-direction: row;
    }

    .header_top {
        flex-direction: column;
    }

    .header_top, .carousel-inner, .header_top_left {
        width: 290px;
        height: 100%;
    }

    .carousel-inner {
        width: auto;
        height: auto;
    }

    .carousel-caption {
        width: 100%;
        display: block;
    }

    .header_top_right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 5px;
        flex-direction: row;
    }

    .header_bottom {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin-bottom: 10px;
    }

    .header_bottom_block {
        justify-content: center;
        width: 100%;
    }

    .button_content {
        display: inline-flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        margin-top: 50px;
        height: 100%;
    }

    .product_cart_inner {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .product_cart_item {
        flex-wrap: wrap;
        width: 40%;
        margin-right: 5px;
    }

    .news_box__item > img {
        display: none;
    }

    .news_box__line {
        display: none;
    }

    .data_figure >img {
        display: none;
    }

    .news_box__items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .news_box__item {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }
    .footer, .footer_left, .footer_right__top {
        flex-direction: column;
    }

    .footer_right__bottom > .input-group {
        margin: 10px;
    }

    .footer_icon {
        margin-bottom: 25px;
        justify-content: flex-start;
        align-items: flex-start;
    }
}